/* 小于400 */

@media screen and (max-width:320px) {
  html {
    font-size: 16px;
  }
}

@media screen and (min-width:301px) and (max-width:350px) {
  html {
    font-size: 17.5px;
  }
}

@media screen and (min-width:351px) and (max-width:420px) {
  html {
    font-size: 21px;
  }
}

@media screen and (min-width:421px) and (max-width:490px) {
  html {
    font-size: 24.5px;
  }
}

@media screen and (min-width:491px) and (max-width:620px) {
  html,
  body {
    font-size: 31px;
  }
}

@media screen and (min-width:621px) and (max-width:720px) {
  html,
  body {
    font-size: 36px;
  }
}

@media screen and (min-width:721px) and (max-width:820px) {
  html,
  body {
    font-size: 37.5px;
  }
}

@media screen and (min-width:821px) and (max-width:1120px) {
  html {
    font-size: 41px;
  }
}

@media screen and (min-width:1121px) {
  html {
    font-size: 41px;
  }
}
/* 横屏 */

@media all and (orientation: landscape) {
  html {
    font-size: 24px;
  }
}

body {
  background-color: #F8F9FB;
  color: #333;
  font-size: 0.64rem;
  font-family: "PingFang SC", Arial, Helvetica, "Microsoft YaHei" !important;
}

body,
ul,
p,
ul,
dl,
dt,
dd,
h3,
h4,
h5 {
  padding: 0;
  margin: 0;
}

ul {
  list-style: none;
}

a {
  display: block;
  text-decoration: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  outline: 0;
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

input[type='text'] {
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
}

img {
  vertical-align: middle;
}

/* 视口 */

.viewport {
  width: 100%;
  min-width: 320px;
  margin: 0 auto;
}
/* 确认选择按钮 */
.choose-btn{
  display: block;
  height: 40px;
  line-height: 40px;
  font-size: 16px;
  width: 90%;
  margin: 0 auto;
  margin-top: 50px;
  text-align: center;
  color: #fff;
  background-color: #2fbe9a;
  border-radius: 2px;
}